mixin ListItem(content="content list", contentLink)
	li.item= content
		if contentLink
			a.item-link= contentLink
		if block
			block

mixin menuItem(title, href="#")
	li.header-menu-item
		a.header-menu-link(href= href)= title

mixin headerSlide(title, number, active = "")
	.header-bottom-item(class= active)
		span.header-bottom-number= number
		span.header-bottom-text= title

mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption 
		h2.block-box-heading= title 
		if desc 
			p.block-box-desc= desc

mixin aboutItem(data)
	.about-item 
		img.about-image(src= data.src)
		.about-content 
			i.about-icon(class= data.classIcon)
			span.about-title= data.title

mixin serviceItem(src, title, desc)
	.service-item 
		img.service-icon(src= src)
		.service-item-info 
			h3.service-item-title= title 
			p.service-item-text= desc

mixin itemSocial(facebook="#", twitter="#", pinterest="#", instagram="#")
	ul.team-social 
		li.team-social-item 
			a.team-social-link(href= facebook)
				i.fab.fa-facebook-f.team-social-icon
		li.team-social-item 
			a.team-social-link(href= twitter)
				i.fab.fa-twitter.team-social-icon
		li.team-social-item 
			a.team-social-link(href= pinterest)
				i.fab.fa-pinterest-p.team-social-icon
		li.team-social-item 
			a.team-social-link(href= instagram)
				i.fab.fa-instagram.team-social-icon

mixin teamItem(src, name, position)
	.team-item 
			.team-main 
				img(src= src, alt="team").team-img
				.team-content 
					if block 
						block
			.team-info 
				h3.team-name= name
				span.team-position= position

mixin workItem(src, title="creatively designed", desc="Lorem ipsum dolor sit")
	.work-item 
		img.work-img(src= src, alt="work-img")
		.work-content 
			img.work-icon(src="./images/img-work-icon.png", alt="work-icon")
			h3.work-title= title
			p.work-desc= desc

mixin quoteItem(src="./images/img-quote.png", isIamge= true, desc="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut provident vel quaerat dolorum expedita nam impedit dolores fuga, animi velit maxime hic enim iste, modi consequatur voluptate beatae deserunt eligendi!", author="Jon Doe")
	.quote-content 
		if isIamge == true 
			img.quote-icon(src= src, alt="quote")
		else 
			img.quote-image(src= src, alt="quote")
		.quote-info 
			p.quote-text= desc
			span.quote-author= author
