mixin ListItem(content="content list", contentLink)
  li.item= content
    if contentLink
      a.item-link= contentLink
    if block
      block

mixin menuItem(title, href="#")
  li.header-menu-item
    a.header-menu-link(href= href)= title

mixin headerSlide(title, number, className="header-bottom-item")
  div(class= className)
    span.header-bottom-number= number
    span.header-bottom-text= title
